<main class="mt-30">
    <div class="container">
        <!--Featured post Start-->
        <div class="post-featured-1 mb-30">
            <div class="slide-face">
                <article class="row slide-fade-item" style="visibility: visible; animation-name: fadeIn;">
                    <div class="col-md-6 mb-md-0 mb-sm-3">
                        <figure class="mb-0">
                            <a href="single.html">
                                <img src="/static/main/imgs/news/news-16.jpg" alt="">
                            </a>
                            <span class="post-format position-top-right text-uppercase font-small">
                                <i class="ti-stats-up"></i>
                            </span>
                        </figure>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="post-content text-center plr-5-percent">
                            <!-- <div class="entry-meta meta-0 mb-15 font-small">
                                <a href="category.html"><span class="post-cat position-relative"># World</span></a>
                                <a href="category.html"><span class="post-cat position-relative"># Education</span></a>
                            </div> -->
                            <h2 class="post-title mb-30 position-relative">
                                <a href="single.html">Destination In Focus: Morroco</a>
                            </h2>
                            <p class="excerpt">
                                As school districts across the United States consider whether and how to restart in-person classes, their challenge is complicated by a pair of fundamental uncertainties: No nation has tried to send children back to school with the virus raging at levels like America’s, and the scientific research about transmission in classrooms is limited.
                            </p>
                            <p class="excerpt">
                                As school districts across the United States consider whether and how to restart in-person classes, their challenge is complicated by a pair of fundamental uncertainties: No nation has tried to send children back to school with the virus raging at levels like America’s, and the scientific research about transmission in classrooms is limited.
                            </p>                              
                        </div>
                    </div>                        
                </article>
            </div>
        </div>
        <div class="mb-30">
            <h6 class="font-weight-bold widget-header widget-header-style-3 mb-20">
                <span class="d-inline-block block mb-10 widget-title font-family-normal"># Posts on Morroco</span>
                <span class="line-dots"></span>
            </h6>
            <div class="row vertical-divider">
                <article class="col-md-3 mb-sm-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-2.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">There’s a 49 Percent Chance the World As We Know It Will End by 2050</a>
                    </h6>
                    <p class="excerpt">
                        Jared Diamond’s new book, Upheaval, addresses itself to a world very obviously in crisis.
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-3.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">Why The New York City subway signage is considered iconic? The true story</a>
                    </h6>
                    <p class="excerpt">
                        <span class="live-now text-danger">Live</span>Black and white signs with Helvetica showing just the information subway riders
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 mb-sm-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-4.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">This Freedom Rider was shot at, attacked, and put on death row—all by 20 years old</a>
                    </h6>
                    <p class="excerpt">
                        As Trumpauer left Jackson behind, she didn’t know if her life was about to get better or worse
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-5.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">This athlete conquered poverty, racism, and polio in order to became an Olympian</a>
                    </h6>
                    <p class="excerpt">
                        Six-year-old Wilma Rudolph was different from the other kids.
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <div class="col-12">
                    <div class="horizontal-divider mb-15 mt-15"></div>
                </div>
            </div>
            <div class="row vertical-divider">
                <article class="col-md-3 mb-sm-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-16.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">Letting Your Insurer Ride Shotgun, for a Discounted Rate</a>
                    </h6>
                    <p class="excerpt">
                        Jared Diamond’s new book, Upheaval, addresses itself to a world very obviously in crisis.
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-17.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">You’re Doomscrolling Again. Here’s How to Snap Out of It.</a>
                    </h6>
                    <p class="excerpt">
                        Black and white signs with Helvetica showing just the information subway riders
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 mb-sm-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-18.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">Disabled Do-It-Yourselfers Lead Way to Technology Gains</a>
                    </h6>
                    <p class="excerpt">
                        As Trumpauer left Jackson behind, she didn’t know if her life was about to get better or worse
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-19.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">How to Buy Tech That Lasts and Lasts</a>
                    </h6>
                    <p class="excerpt">
                        Six-year-old Wilma Rudolph was different from the other kids.
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <div class="col-12">
                    <div class="horizontal-divider mb-15 mt-15"></div>
                </div>
            </div>
            <div class="row vertical-divider">
                <article class="col-md-3 mb-sm-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-10.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">E.U. Court Strikes Down Trans-Atlantic Data Transfer Pact</a>
                    </h6>
                    <p class="excerpt">
                        Jared Diamond’s new book, Upheaval, addresses itself to a world very obviously in crisis.
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-11.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">How Our Reporter Fought ‘Doomscrolling’</a>
                    </h6>
                    <p class="excerpt">
                        Black and white signs with Helvetica showing just the information subway riders
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 mb-sm-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-12.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">TikTok Enlists Army of Lobbyists as Suspicions Over China Ties Grow</a>
                    </h6>
                    <p class="excerpt">
                        <span class="live-now text-danger">Live</span>As Trumpauer left Jackson behind, she didn’t know if her life was about to get better or worse
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>
                <article class="col-md-3 wow fadeIn animated">
                    <figure class="mb-15">
                        <a href="single.html">
                            <img src="/static/main/imgs/news/news-13.jpg" alt="">
                        </a>
                    </figure>
                    <h6 class="post-title font-weight-bold mb-10">
                        <a href="single.html">A Big Convention Decision by Democrats, and a Play for White Suburban Voters by Trump</a>
                    </h6>
                    <p class="excerpt">
                        Six-year-old Wilma Rudolph was different from the other kids.
                    </p>
                    <div class="entry-meta meta-2 font-x-small color-muted">
                        <p class="mb-5">
                            By <a href="author.html"><span class="author-name">Steven Kenedy</span></a>
                        </p>
                        <span class="mr-10"> 15 April 2020</span>
                        <span class="has-dot"> 8 mins read</span>
                    </div>
                </article>                  
            </div>
        </div>
    </div>
</main>