<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © HubIT Technologies.
            </div>
           
        </div>
    </div>
</footer>